/* .outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .container {
  text-align: center;
  color: rgb(20, 20, 19);
} */

/* h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: black;
} */

/* p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: black;
} */

/* .qr-code-container {
  display: center;
  justify-content: center;
  align-items: center;
} */

/* .qr-code {
  width: 80%;
  max-width: 400px;
} */