body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/gimnasio.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #042945;
  opacity: 0.8;
  z-index: -1;
}

.login-img {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/gym-draw-8.png);
  background-size: cover;
}

/*   .vector-1 {
  content: "";
  position: fixed;
  z-index: -1;
  width: 140px;
  height: 140px;
  background-image: url("../img/vector/v1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  rotate: 90deg;
} */

/* .vector-1 {
  content: "";
  position: fixed;
  z-index: -1;
  width: 140px;
  height: 140px;
  background-image: url("../img/vector/v1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  rotate: 90deg;
  animation: rotate 35s linear infinite; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.vector-1 {
  content: "";
  position: fixed;
  z-index: -1;
  width: 140px;
  height: 140px;
  background-image: url("../img/vector/v1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.breathing-svg {
  animation: breathe 4s ease-in-out infinite;
}

@keyframes breathe {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.vector1right {
  position: fixed;
  z-index: -1;
  width: 240px;
  height: 240px;
  background-image: url("../img/vector/v1right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  rotate: 90deg;
  animation: rotate 35s linear infinite;
}



.nav-container {
  width: 100%;
  height: 50px; /* ajustar el alto según sea necesario */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242222; /* ajustar el color según sea necesario */
  z-index: 9999; /* asegurarse de que la barra de navegación esté por encima de otros elementos */
  font-family: 'Lato', sans-serif;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.navbar-nav {
  background-color: #242222; /* ajustar el color según sea necesario */
  width: 100%;
}

.button-calendar {
  display: none;
}

.button {
  background-color: #959CA1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: 'Lato', sans-serif;
}

.button:hover {
  background-color: #2980b9;
  color: #fff;
}


/* .outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: blanchedalmond;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.qr-code-container {
  display: center;
  justify-content: center;
  align-items: center;
}

.qr-code {
  width: 80%;
  max-width: 400px;
} */

.vector-2 {
  position: fixed;
  z-index: -1;
  width: 350px;
  height: 350px;
  background-image: url("../img/vector/v2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  top: 20%;
  right: 0;
  animation: wave 5s ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
    transform: skewY(0deg);
  }
  50% {
    transform: skewY(5deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

/* .v2up {

}  */



.vector-3 {
  position: fixed;
  z-index: -1;
  width: 250px;
  height: 250px;
  background-image: url("../img/vector/v3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  bottom:  0;
  right: 0;
  rotate: (180deg);
  transform: rotate(90deg);
}


/* .vector-2.svg_position {
  position: fixed;
  z-index: -1;
  width: 200px;
  height: 200px;
  background-image: url("../img/vector/v2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 0;
  rotate: (180deg);
  transform: "scale(-2, 2)"
} */

.vector-4 {
  position: fixed;
  z-index: -1;
  width:  150vw;
  height: 150vh;
  background-image: url("../img/vector/v4.svg");
  background-repeat: no-repeat;
  background-size: 100% ;
  left: 0;
  top: 50%;
  transform: rotate(270deg);
}


.vector-6 {
  content: "";
  position: fixed;
  z-index: -1;
  width: 140px;
  height: 140px;
  background-image: url("../img/vector/v6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  animation: breathe 4s ease-in-out infinite;
}

@keyframes breathe {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}


